* {
  margin: 0%;
  padding: 0%;
  font-family: "montserrat";
  color: #fff;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #091921;
}
.clock {
  height: 300px;
  width: 300px;
  border: 5px solid #fff;
  border-radius: 50%;
  background: url(./watch.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hour,
.min,
.sec {
  height: 5px;
  width: 100px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0 5px 5px 0;
  transform-origin: left;
  transition: 0.5s ease transform;
}
.hour {
  width: 80px;
}
.min {
  width: 90px;
}
.sec {
  background-color: crimson;
}
.clock::after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}
p {
  font-weight: 500;
  position: absolute;
  top: 65%;
  font-size: 13px;
  user-select: none;
  letter-spacing: 1px;
}
